/*etiqueta HTML va directamente el nombre*/
/* clases va con "." adelante */
/* ID va con "#" adelante */

body{
    background-color: rgb(230, 216, 218);
   
    }
    
    
     .nombrePerfil {
        font-size: 5rem ;
        border-style: solid;
        color: aliceblue;
     }
    
     
     
    .video{
      margin: 7rem 2rem 0rem 7rem;
      border-style: solid black;
      }
     .mapa {
      padding:20%
      border-style: solid ;
   }
      #sobre {
         background-color:rgb(171, 120, 129)
           }

           .logoap{
            filter: invert();
             }
